<!-- <div class="main-div-video">

    <video autoplay loop width="100%" height="840px" style="border-radius:30px" >
      <source src="assets/img/moviee.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  
</div> -->

<!-- <owl-carousel-o [options]="customOptions">

  <ng-template carouselSlide><a href="/blogs/">
    <div class="serbianMade">

      <div class="main-product-img">
        <img src="/assets/img/be.jpg">
      </div>


      <div class="main-product-txt">
        <div class="main-product-txt-div">
          <p style="font-size: 0.6em; color: rgb(255, 174, 0, 0.8) ">SERBIAN MADE</p>
          <p>NEW COLLECTION </p>
          <p><b>LIMITED OFFER </b></p>
          <button mat-raised-button> SHOP NOW </button>
        </div>
      </div>
    </div>
  </a></ng-template>

  <ng-template carouselSlide><a href="/blogs/">
    <div class="parentNEW">

      <div class="main-product-img">
        <img src="/assets/img/bel.jpg">
      </div>


      <div class="main-product-txt">
        <div class="main-product-txt-div">
          <p style="font-size: 0.6em; color: rgb(255, 174, 0, 0.8) ">SERBIAN MADE</p>
          <p>NEW COLLECTION </p>
          <p><b>LIMITED OFFER </b></p>
          <button mat-raised-button> SHOP NOW </button>
        </div>
      </div>
    </div>
  </a></ng-template>


 </owl-carousel-o> -->


 <div class="all">


<div class="home-main">


<div class="home-main-img">

  <img src="/assets/img/bel.jpg" height="750px" width="100%">

  <div class="home-main-img-hover">
    <p> BELGRA DE CISION </p>
  </div>
</div>


<div class="home-middle">
  <mat-card class="experience">
    <h2 style="font-size:30px; margin-top:30px; color:rgb(203, 23, 83)"> Have unforgettable experiences</h2><br>
    
    
    <mat-card-content style="width:100%; height: 250px; display:flex; margin:20px auto;">
        <div style="width:400px; margin:10px;">
            <h2 style="font-size:22px; color:rgb(203, 23, 83)">The Avala mountain</h2>
            <p> like a tall watch tower over Belgrade rises Avala, a smallish mountain
                giant with ancient mining passages reaching deep in its womb; while the faith of
                a fortress of numerous masters lies under the dome of the grandiose monument ..
            </p>
        </div>
        <div style="width:300; height: 250px;">
            <img src="/assets/img/avala.jpg" width="300px" height="100%">
        </div>
    </mat-card-content>
    
    <mat-card-content style="width:100%; height: 250px; display:flex; margin:20px auto;">
    
        <div style="width:200px; margin:10px;">
            <h2 style="font-size:22px; color:rgb(203, 23, 83)">Sava cruise</h2>
            <p> The view of historical parts of Belgrade,
                in comfort of our ships. Kalemegdan, Zemun,
                Gardosh Tower, Great War Island while cruising Sava river.
            </p>
        </div>
    
        <div style="width:300; height: 250px;">
            <img src="/assets/img/cruise.jpg" width="300px" height="100%">
        </div>
    
        <div style="width:200px; margin:10px;">
    
            <p><br> The sights of the city will be even more specail! We can arrange for you and your firends to
                have a delicious meal on board,
                play your favorite music, ride away into sunset..
            </p>
        </div>
    </mat-card-content>
    
    <mat-card-content style="width:100%; height: 250px; display:flex; margin:20px auto">
        <div style="width:300; height: 250px;">
            <img src="/assets/img/rest.jpg" width="300px" height="100%">
        </div>
    
        <div style="width:400px; margin:10px;">
            <h2 style="font-size:22px; color:rgb(203, 23, 83)">Serbian cuisine</h2>
            <p>Serbian cuisine is a Balkan cuisine that consists of the culinary methods and traditions of Serbia
                .National dishes of Serbia include sarma, gibanica, paprikas..
                Its roots lie in Serbian history, including centuries of cultural contact and influence with the ..
            </p>
        </div>
    </mat-card-content>

      <p style="cursor:pointer; font-weight:1000"><a style=" color:rgb(203, 23, 83)" href="/voyages"> Read more </a> </p>
    
  </mat-card>

  <mat-card class="experience">
    <h2 style="font-size:30px; margin-top:30px; color:orange"> Shop at our art gallery </h2><br>
    
    
    <mat-card-content style="width:100%; height: 250px; display:flex; margin:20px auto;">
        <div style="width:400px; margin:10px;">
            <h2 style="font-size:22px; color:orange">Nature inspiration</h2>
            <p> Throughout time, artists used nature as
              a muse or motivation for creating different forms of art.
               Nature can provide endless inspiration, and it can be a critical 
               theme in many forms of artwork.
            </p>
        </div>
        <div style="width:300; height: 250px;">
            <img src="/assets/img/nature4.JPG" width="300px" height="100%">
        </div>
    </mat-card-content>
    
    <mat-card-content style="width:100%; height: 250px; display:flex; margin:20px auto;">
    
        <div style="width:200px; margin:10px;">
            <h2 style="font-size:22px; color:orange">Still life</h2>
            <p> French nature morte - dead nature), one of the genres of painting. 
              Still lifes depict the gifts of nature (fruits, flowers, fish, game), 
           </p>
        </div>
    
        <div style="width:300; height: 250px;">
            <img src="/assets/img/mrtva3.JPG" width="300px" height="100%">
        </div>
    
        <div style="width:200px; margin:10px;">
    
            <p><br> as well as things made by 
              human hands (tableware, vases, clocks, etc.). Sometimes inanimate objects coexist with living beings 
              - insects, birds, animals and people
            </p>
        </div>
    </mat-card-content>
    
    <mat-card-content style="width:100%; height: 250px; display:flex; margin:20px auto;">
        <div style="width:300; height: 250px;">
            <img src="/assets/img/zena5.JPG" width="300px" height="100%">
        </div>
    
        <div style="width:400px; margin:10px;">
            <h2 style="font-size:22px; color:orange">Woman's portrait</h2>
            <p>What does a woman represent in art?
              Since the beginning of time women have held the world on their shoulders. Women are the Symbol of Life. 
              The Maker of Unconditional Love. A woman is both Soft and Powerful.
            </p>
        </div>
    </mat-card-content>

      <p style="cursor:pointer; font-weight:1000;"><a style=" color:orange" href="/eshop"> Read more </a> </p>
    
  </mat-card>

</div>



<div class="history">
  <div class="history-content">
      <h2 style="font-size:30px;"> Belgrade History </h2><br>
      <p><b>
          Belgrade is the capital and largest city of Serbia. It is located at the confluence of the 
          <a style="color:rgb(255, 54, 54)">Sava and Danube </a> rivers 
          and the crossroads of the Pannonian Plain and the Balkan Peninsula.</b><br><br> 
          
          
          Nearly 1.7 million people live within 
          the administrative limits of the City of Belgrade.
          It is the third largest of all cities on the Danube river.

          Belgrade is one of the oldest continuously inhabited cities in Europe and the world.

          In the period after the Serbian Revolution, Belgrade again was named the capital of Serbia in 1841.<br><br>

          Being Serbia's primate city, Belgrade has special administrative status within Serbia. It is the seat 
          of the central government, administrative bodies, and government ministries, as well as home of almost all of 
          the largest Serbian companies, media, and scientific institutions.<br><br> 
          Belgrade is classified as a Beta-Global City. 
          The city is home to the Clinical Centre of Serbia, one of the hospital complexes with the largest capacity in the
          world, the 
          <a style="color:rgb(255, 54, 54)">Church of Saint Sava</a>, 
          one of the largest Orthodox church buildings, and the 
          <a style="color:rgb(255, 54, 54)">Štark Arena</a>, one of the indoor 
          arenas with the largest capacity in Europe. 
      </p>
  </div>

  <div class="history-image">
    <img src="/assets/img/belg.jpg" width="100%" height="100%">
  </div>
</div>
</div>



<div style="padding-top:30px;">

  <div class="blogs">

      <div class="blogs-head">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16"><path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>
        <br><br>
        <p style="color:rgb(0,0,0); font-size:22px;"><b> Latest blogs</b></p>
        <p style="color:rgb(0,0,0,0.7); font-size:14px;"> See and inform by reading about latest news in our city</p>
      </div>
    
      <owl-carousel-o [options]="customOptions2">
    
        <ng-template carouselSlide>
          <div class="around-blog">
            <div class="blog-image">
              <div id="b1"></div>
            </div>
    
            <div class="blog-txt">
              <div class="blog-txt-div">
                <p style="font-size:12px;">Sunday, August 21, 2022</p>
                <p style="cursor:pointer;font-size:16px;" (click)="goToPageBlog1()">
                  <a href="/blog-page"><b>By the river in Belgrade</b></a></p>
                <p style=" font-size:12px; color:rgb(0,0,0,0.7)"> Written by <a>daria</a></p>
    
              </div>
            </div>
          </div>
        </ng-template>
    
        <ng-template carouselSlide>
    
          <div class="around-blog">
    
            <div class="blog-image">
              <div id="b3"></div>
            </div>
    
    
            <div class="blog-txt">
              <div class="blog-txt-div">
                <p style="font-size:12px;"> Friday, August 12, 2022 </p>
                <p style="cursor:pointer;font-size:16px;" (click)="goToPageBlog2()">
                  <a href="/blog-page"><b> Futuristic Belgrade</b></a></p>
                <p style=" font-size:12px; color:rgb(0,0,0,0.7)"> Written by <a>daria</a></p>
    
              </div>
            </div>
          </div>
        </ng-template>
    
        <ng-template carouselSlide>
    
          <div class="around-blog">
    
            <div class="blog-image">
              <div id="b4"></div>
            </div>
    
    
            <div class="blog-txt">
              <div class="blog-txt-div">
                <p style="font-size:12px;"> Sunday, August 7, 2022 </p>
                <p style="cursor:pointer;font-size:16px;" (click)="goToPageBlog3()">
                  <a href="/blog-page"><b>Belgrade bathing spots</b></a></p>
                <p style=" font-size:12px; color:rgb(0,0,0,0.7)"> Written by <a>daria</a></p>
    
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
    
          <div class="around-blog" >
    
            <div class="blog-image">
              <div id="b2"></div>
            </div>
    
    
            <div class="blog-txt">
              <div class="blog-txt-div">
                <p style="font-size:12px;"> Tuesday, July 26, 2022 </p>
                <p style="cursor:pointer;font-size:16px;" (click)="goToPageBlog4()">
                  <a href="/blog-page"><b>Events you should not miss</b></a></p>
                <p style=" font-size:12px; color:rgb(0,0,0,0.7)"> Written by <a>daria</a></p>
    
              </div>
            </div>
          </div>
        </ng-template>
    
      </owl-carousel-o>
    
  </div>
    
</div>
  
 </div>